@font-face {
    font-family: 'Mulish';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url(fonts/Mulish-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Mulish';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url(fonts/Mulish-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(fonts/Mulish-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(fonts/Mulish-Light.woff2) format('woff2');
}